!!! 5
html( lang: "en" )
  head
    title ssh.js - ssh over websockets for iOS
    meta( name: "viewport", content: "initial-scale=0.5,user-scalable=no" )
    link( rel: "stylesheet", type: "text/css", href: "/application.css" )
  body!= body
